<br><br><br>
 <div class="row">
    <div class="col-sm-10 text"> 
     <h1 class="display-1">   Contacto   </h1> 
     <h5> 
<br>
   <span class="email-text">Fono: +569 9058 6442: <%= link_to 'WhatsApp', 'https://api.whatsapp.com/send?phone=56990586442', target: '_blank' %>
<br>
<br>
<span class="email-text"> Email: camiladiseno@gmail.com: </span><%= mail_to 'Email', 'Email', target: '_blank' %>
     <br>
<br>
   <span class="email-text"> Behance: <%= link_to 'Mi portafolio en Behance', 'https://www.behance.net/cpdisenografico', target: '_blank' %>
    <br>
     <br>
   <span class="email-text"> LinkedIn: <%= link_to 'Mi perfil de LinkedIn', 'https://www.linkedin.com/in/cpdiseno/', target: '_blank' %>

</h5>

        </div>
    <div class="col-sm-2"><%= image_tag 'ruby-sticker.jpg', alt: "descripcion", class:"imagen2" %></div>
  </div>
</div>
<br><br>